{% extends 'base.html' %}

{% block head %}
<title>Zen Zone</title>
{% endblock %}

{% block body %}
<div class="main">
    <nav>
        <div class="logo">
            <img src="../static/images/dog.png">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/task">Home</a></li>
                <!-- <li><a href="application.html">Applications</a></li> -->
                <li><a href="/df">Todo List</a></li>
                <li><a href="/music">Zen Zone</a></li>
                <!-- <li><a href="MyProfile.html">Motivational Boost!</a></li> -->
                <!--<li><a href="login.html">Login/Sign up</a></li> -->
            </ul>
        </div>
        <div class="anya"><img src="../static/images/Anya-PNG-Image.png"></div>
    </nav>
    


{% endblock %}
