{% extends 'base.html' %}

{% block head %}
<title>ZenTask</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center"mc>There are no tasks. Create one below.</h4>
    {% else %}

    <table>
        <tr>
            <th>Task</th>
            <th>Label</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.label }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <!-- new change below -->
        <label for="label">Label:</label>
        <select name="label" id="label">
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="life">Life</option>
            <option value="others">Others</option>
        </select>
        <!-- new change above -->
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}
